* {
  padding: 0px;
  margin: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(../img/pexels-veeterzy-39811.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: Tahoma, sans-serif;
}

.form-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
}

h3 {
  margin: 0;
  padding: 0 0 20px;
  font-weight: bold;
  color: #fff;
}

.form-area p {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  color: #fff;
}

.form-area input{
  margin-bottom: 20px;
  width: 100%;
}

.form-area input[type="text"],
.form-area input[type="password"],
.form-area input[type="email"] {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  height: 48px;
  color: white;
  display: 16px;
}

::placeholder {
  color: white;
}

.form-area input[type="submit"] {
  border: none;
  height: 40px;
  outline: none;
  color: white;
  font-size: 15px;
  background-color: rgb(255, 99, 71, 0.5);
  cursor: pointer;
  border-radius: 20px;
}

/* .form-area input[type="submit"]:hover {
  background-color: rgb(255, 99, 71);
} */

.form-area a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width:768px){
  .form-area{
    width: 75%;
  }
}

@media (max-width:480px){
  .form-area{
    width: 95%;
  }
}
